body {
    margin: 0 !important;
    padding: 0 !important;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0;
  margin: 0px;
  opacity: .80;
}

header h3 {
}

#jumbotron {
  background-image: url("../../media/restaurant-hero-image.jpg");
  height: 550px;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-size: cover;
}

h1 {
  margin-top: 0px;
  padding-top: 240px;
  color: rgb(255, 255, 255);
  font-size: 72px;
}

#orderBtn {
  background-color: rgb(111, 160, 114);
  height: 70px;
  width: 1050px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-top: 65px;
}

article {
  position: relative;
  height: 200px;
  width: 300px;
  margin: 250px, 0px, 0px, 10px;
}

.fa {
    font-size: 30px;
}

.articleTitle{
  font-size: 25px;
}
article p {
  font-family: sans-serif;
  font-size: 18px;
}

.infoRow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: space-around;;
}

footer {
    position:fixed;
    height:50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
}
/*Order Page*/

#orderPage {
  display: flex;
  height: 758px;
  background-color: orange;
  background-image:
    linear-gradient(
      to bottom right,
      rgb(236, 180, 75), rgb(140, 85, 30)
    );
}

#left {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 1%;
  width: 500px;
  height: 100px;

}

/*.menu {
  width: 400px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  overflow-y: scroll;
}*/

#fSelL{
  width: 400px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  overflow-y: scroll;

}

h5{
  margin: 0px;
  font-style: italic;
}

.texty {
  margin-top: 10px;
}

textarea {
  resize: none;
  font-size: 2em;
}

.textColor {
  background-color: rgb(253, 251, 191);
  width: 400px;
}

.btn{
  color: white;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

#numIt{
  resize: none;
  font-size: 2em;
  float: left;
  margin-top: 7px;
}

#aitBtn{
background-color: rgb(92, 118, 164);
width: 160px;
height: 50px;
margin:2%;
margin-top: 0;
margin-bottom: 0;
}

#deliverIt{
  background-color: rgb(111, 160, 114);
  height: 50px;
  width: 400px;
  margin-top: 3%;
}

#right {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15%;
  margin-left: 1%;
}

#area {
  margin-top: 25px;
  float: left;
  height: 590px;
  width: 400px;
}

.op{
  float: left;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menuPrice{
  position: relative;
  float: right;
  font-size: 22px;
  color: black;
  text-align: right;
}

option {
  font-size: 22px;
  font-weight: lighter;
}

.menuTitle{
  color: black;
  font-style: italic;
  font-size: 16px;
  font-weight: bolder;
  float: left;
  width: 100%;
}
